.casts-shimmer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    gap:20px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.casts-shimmer::-webkit-scrollbar{
    display: none;
}