.hero-wrapper {
    width: 100vw;
    padding: 100px 20px 0;
    min-height: calc(80vh + 100px);
    background-color: rgb(9, 34, 71,0.8);
    position: relative;
    transform-style: preserve-3d;
}
.hero-wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 5%,var(--black) 100%);
    z-index: -1;
}
.hero-wrapper > img {
    position: absolute;
    transform: translateZ(-2px);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.hero-content{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    gap:40px;
    padding-top: 40px;
}
.hero-content .lazy-load-image-background{
    width: 350px;
    height: 500px;
    border-radius: 20px;
    flex-shrink: 0;
    overflow: hidden;
}
.hero-content .lazy-load-image-background img{
    width: 100%;
   height: 110%;
    object-fit: cover;
}
.hero-right{
    width: 100%;
    height: 100%;
}
.hero-right h2{
font-size: 36px;
font-weight: 500;
}
.hero-content h2 + p{
    font-size: 20px;
    color: #9e9b9b;
    font-weight: 500;
    margin-bottom: 10px;
}
.hero-genres{
    display: flex;
    gap:6px;
    font-size: 12px;
}
.hero-genres span{
    background-color: #DA2F86;
    padding: 0.8px 4px;
    border-radius: 4px;
    font-weight: 600;
}
.hero-rating{
    display: flex;
    gap: 30px;
    margin-block: 30px;
}
.rating{
        background-color: black;
        border-radius: 50%;
        padding: 2px;
        width: 80px;
        height: 80px;
}
.rating .CircularProgressbar .CircularProgressbar-text{
    font-size: 25px;
    fill: white !important;
}
.playbtn{
    display: flex;
    gap:10px;
    cursor: pointer;
    align-items: center;
    transition: color 0.7s;
    user-select: none;
}
.playbtn:hover{
    color: #DA2F86;
}
.playbtn:hover  .triangle {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: #DA2F86;
    animation: trailorPlay 0.7s ease-in-out;
}
.playbtn:hover  .circle {
    stroke-dashoffset: 0;
    stroke: #DA2F86;
}
.playbtn span{
    font-size: 20px;
}
.hero-rating ~ p{
    font-size: 16px;
    font-weight: 500;
}
.hero-rating + p{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}
#overview{
   max-width: 600px;
   margin-bottom: 25px;
   font-weight: 500;
}
.movie-details{
    display: flex;
    gap:20px;
    padding-block: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    align-items: center;
}
.movie-details p{
    display: flex;
    flex-wrap: wrap;
    gap:8px;
}
 .primary{
    font-weight: 600;
}
 .secondary{
    font-weight: 500;
    color: rgba(255, 255, 255,0.5);
}
.movie-details + p{
    padding-block: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    gap: 8px;
}
.hero-content p:last-child{
    display: flex;
    padding-block: 13px;
    gap:8px;
}
@media screen and (max-width: 800px) {
    .hero-content{
        flex-direction: column;
    }
    .hero-content >img{
        width: 100%;
        height: unset;
        aspect-ratio: 1/1.4;
    }
    #overview{
        max-width: 100%;
    }
    .hero-right > h2{
        font-size: 24px;
    }
    .hero-right p:nth-child(2){
        font-size: 16px;
    }
    .hero-rating + p{
        font-size: 24px;
    }
    .movie-details {
        gap:15px;
    }
    .movie-details p{
        gap: 8px;
    }
}