.search-wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto ;
    padding: 100px 20px 40px;
}
.search-card .card-upper{
    height: 83%;
}
.search .card-upper span:nth-child(3),
.search .card-upper span:nth-child(2){
  display: none;
}