*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --black: #04152d;
  --btn: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%)
}
body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--black);
  height: 100000000px;
  color: white;
}
